*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  @include display();
  flex-direction: column;
  background-color: $main-bg;
  align-items: start;
  min-height: 100vh;
}


.main {
  @include display();
  @include inter();
  font-size: 13px;
  // font-weight: 300;
  color: $text;
  align-items: start;
  justify-content: start;
  flex-grow: 2;
  width: 100%;
}

.sidebar {
  padding: 100px;
  background-color: $ns-bar;
  flex-grow: 1;
  max-width: 340px;
  height: calc(100vh - 40px);
  border-right: 1px solid $borders;
}

.main-section {
  @include display();
  // background-color: $main-bg;
  flex-grow: 1;
  height: calc(100vh - 40px);
}


.header {
  flex-grow: 0;
  width: 100%;
  background-color: $ns-bar;
  border-bottom: 1px solid $borders;
  height: 40px;
}


.get {
padding: 10px;
background-color: $get;
}

.delete {
  padding: 10px;
background-color: $delete;

}

.put {
  padding: 10px;
background-color: $put;

}

.post {
  padding: 10px;
background-color: $post;

}