* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include display();
  flex-direction: column;
  background-color: var(--bg-app-main);
  align-items: start;
  justify-content: start;
  min-height: 100vh;
}


svg {
  width: 17px;
  height: 17px;
  stroke-width: 1.3px !important;
}