@mixin inter() {
  font-family: "Inter";
}

@mixin jet() {
  font-family: "JetBrains Mono";
}

@mixin display() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin padding() {
  padding: 10px;
}