.sidebar {
  @include display();
  align-items: start;
  flex-grow: 1;
  height: 100%;
  background-color: var(--bg-app-sidebar);
  max-width: 340px;
  border-right: 1px solid var(--border-app-default);
  min-width: 330px;
  grid-row: 1/2;
  grid-column: 1/2;
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow: auto;

  // &::-webkit-scrollbar {
  //   background: var(--border-app-default);
  //   width: 6px;
  // }

  // /* Track */
  // &::-webkit-scrollbar-track {
  //   border-radius: 10px;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   box-shadow: inset 0 0 5px var(--text-app-muted);
  //   border-radius: 10px;

  //   @media (hover: hover) {
  //     &:hover {
  //       box-shadow: inset 0 0 5px var(--text-app-main);
  //     }
  //   }
  // }

  &__main {
    @include padding();
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }

  &__m-top-lh {
    @include display();
    // background-color: red;
    justify-content: space-between;
    // gap: 3px;
    padding: 4px 0px;
    width: 100%;
    border-bottom: 1px solid var(--border-app-default);
  }

  &__mtlh-conspan {
    @include display();
    justify-content: space-between;
    gap: 5px;
    flex-grow: 1;
  }

  &__mtlhcsp-main-txt {
    @include jet();
    @include display();
    gap: 7px;
    font-size: 13px;
    color: var(--color-coal-200);
    font-weight: 300;
    letter-spacing: 0.4px;
  }

  &__mtlhcsp-mi {
    @include display();
    @include hoverActiveIconMutedWhite();
    @include boxPaddings();
    @include borderRadiusMiniBoxes();
    @include buttonOutline();
    // @include hoverVisible();
    background-color: transparent;
    color: var(--color-coal-400);

    border: none;
  }

  &__mtlh-right-i {
    @include display();
    @include hoverActiveIconMutedWhite();
    // @include hoverVisible();

    @include boxPaddings();
    @include borderRadiusMiniBoxes();
    @include buttonOutline();
    background-color: transparent;
    color: var(--color-coal-400);
    border: none;
  }

  &__mtlhcsp-circle {
    @include borderRadiusMiniBoxes();
    padding: 3px;
    background-color: var(--color-coal-300);
    opacity: 0.9;
  }

  &__mtlhcspcirc-full {
    background-color: rgb(var(--color-green-base));
  }

  &__mtlhcsp-port {
    @include boxPaddings();
    @include borderRadiusDefault();
    // background-color: red;
    padding: 3px;
    // border: 1px solid var(--border-app-default);
    // background-color: var(--border-app-default);
    color: var(--color-coal-100);
  }

  &__mtlhcspcirc-reject {
    background-color: rgb(var(--color-red-base));
  }

  &__mtlhcspcirc-loading {
    background-color: rgb(var(--color-yellow-base));
  }

  &__m-form {
    @include display();
    width: 100%;
    padding: 10px 0px;
    justify-content: space-between;
    gap: 6px;
    position: relative;
  }

  &__mf-input {
    @include display();
    @include inter();
    @include boxPaddings();
    @include borderRadiusMiniBoxes();
    @include buttonOutline();
    @include hoverBlackInputs();
    font-size: 12px;
    padding: 5px 5px 5px 28px;
    background-color: transparent;
    color: var(--text-app-main);
    border: 1px solid var(--color-coal-400);
    box-shadow: 0px 0px 0px 2px transparent;
    transition: all 0.2s ease-in-out;
    &:focus {
      box-shadow: 0px 0px 0px 2px rgb(var(--color-pure-blue));
      border: 1px solid transparent;
    }
    flex-grow: 1;
    height: 26px;
  }

  &__mf-sri {
    position: absolute;
    top: 15px;
    left: 8px;
    color: var(--color-coal-400);
    z-index: 3;
    svg {
      width: 16px !important;
      height: 16px !important;
    }
  }

  &__mf-button {
    @include display();
    @include inter();
    @include buttonOutlineColor(--color-brand-accent-900);
    @include borderRadiusMiniBoxes();
    padding: 4px 8px 4px 8px;
    font-size: 11.8px;

    background-color: rgb(var(--color-brand-accent-900), 0.1);
    border: 1px solid rgb(var(--color-brand-accent-900), 0.2);
    color: rgb(var(--color-brand-accent-500), 0.8);
    // color: var(--color-coal-100);
    height: 26px;
    box-shadow: 0px 0px 4px 0px rgb(var(--color-brand-accent-900), 0.2);
    letter-spacing: 0.1px;
    transition: all 0s ease-in-out;
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        background-color: rgb(var(--color-brand-accent-900), 0.4);
        color: rgb(var(--color-brand-accent-500), 1);
      }
    }

    &:active {
      background-color: rgb(var(--color-brand-accent-900), 0.7);
      color: rgb(var(--color-brand-accent-500), 200);
      color: var(--text-app-main);
    }
  }

  &__mfb-svg {
    position: relative;
    top: 1px;
    svg {
      width: 15px !important;
      height: 15px !important;
      stroke-width: 1px;
    }
  }

  &__files {
    @include display();
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0px 5px 0px 0px;
    gap: 4px;
    max-height: calc(100vh - 105px);
    overflow: auto;
    &::-webkit-scrollbar {
      background: var(--border-app-default);
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 5px var(--text-app-muted);
      border-radius: 10px;

      @media (hover: hover) {
        &:hover {
          box-shadow: inset 0 0 5px var(--text-app-main);
        }
      }
    }
  }

  &__f-cards {
    @include display();
    flex-direction: column;
    width: 100%;
    gap: 1px;
  }

  &__f-cards-child {
    margin-top: 15px !important;
    gap: 0px;
  }

  &__fc-topwrap {
    @include display();
    @include hoverCoal450();
    @include borderRadiusMiniBoxes();
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  &__fc-top {
    @include display();
    width: 100%;
    justify-content: start;
    gap: 5px;
    padding: 1px 30px 1px 1px;

    &:hover + .sidebar__fct-spmore {
      visibility: visible;
    }
  }

  &__fc-top-child {
    padding: 0px 30px 0px 0px !important;
  }

  &__fct-arrspn {
    color: var(--color-coal-400);
    position: relative;
    left: 2px;
    // top: 2px;

    @media (hover: hover) {
      &:hover {
        color: var(--color-coal-100);
      }
    }

    &:active {
      color: var(--color-coal-100);
    }

  user-select: none;
  }

  &__fct-mtxt {
    @include inter();
    @include textOverFlow();
    font-size: 12.5px;
    color: var(--color-coal-100);
    flex-grow: 1;
    font-weight: 600;
  }

  &__fct-mtxt-child {
    font-weight: 400;
  }

  &__fc-txtcont {
    @include display();
    flex-grow: 1;
    gap: 10px;
  }

  &__fctx-spv {
    position: relative;
    top: 1px;
    color: var(--color-coal-300);
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__fc-main {
    @include display();
    padding: 3px 3px 0px 3px;
    flex-direction: column;
    width: calc(100% - 22px);
    // gap: 5px;
    border-left: 1px solid var(--color-coal-400);
  }

  &__fc-main-child {
    padding: 2px;
  }

  &__fcm-endstatus {
    @include display();
    @include hoverCoal450();
    @include borderRadiusMiniBoxes();
    justify-content: start;
    position: relative;
    gap: 10px;
    width: 100%;
    padding: 5px;
    // background-color: red;

    &:hover .sidebar__fct-spmore {
      visibility: visible;
    }

    .sidebar__fct-spmore {
      top: 2.3px !important;
    }
  }

  &__fcm-endstatus-child {
    gap: 8px;
    padding: 5px;
  }

  &__fcmeds-stxt {
    @include jet();
    @include display();
    font-size: 9.5px;
    // background-color: red;
  }

  &__fcstxt-get {
    color: rgb(var(--color-green-base));
    // opacity: 0.6;
  }

  &__fcmens-stxt-pill-get,
  &__fcmens-stxt-pill-put,
  &__fcmens-stxt-pill-post,
  &__fcmens-stxt-pill-delete {
    padding: 1px 7px;
    border-radius: 50px;
  }
  &__fcmens-stxt-pill-get {
    background-color: var(--btn-green-brd);
  }
  &__fcmens-stxt-pill-put {
    background-color: var(--btn-blue-brd);
  }
  &__fcmens-stxt-pill-post {
    background-color: var(--btn-yellow-brd);
  }
  &__fcmens-stxt-pill-delete {
    background-color: var(--btn-red-brd);
  }
  &__fcstxt-put {
    color: rgb(var(--color-blue-base));
    // opacity: 0.6;
  }
  &__fcstxt-post {
    color: rgb(var(--color-yellow-base));
    // opacity: 0.6;
  }
  &__fcstxt-delete {
    color: rgb(var(--color-red-base));
    // opacity: 0.6;
  }

  &__fcmemds-mtxt {
    @include inter();
    font-size: 12px;
    color: var(--color-pure-white);
    // font-weight: 700;
    font-weight: 300;
    // background-color: red
    letter-spacing: -0.4px;
  }

  &__fcmemds-mtxt-pill {
    color: var(--color-pure-white) !important;
    // display: none
  }

  &__fct-spmore {
    @include hoverActiveIconMutedWhite();
    @include buttonOutline();
    @include display();
    color: var(--color-coal-100);
    position: absolute;
    top: 3px;
    right: 2px;
    visibility: hidden;
    background-color: transparent;
    border: none;
    border-radius: 3px;

    & svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      visibility: visible;
    }
  }

  &__fct-spmore-child {
    top: 1.4px;
  }

  &__fct-mtxt-var {
    color: rgb(var(--color-yellow-base));
  }
}
