// $main-bg: #1e1d1d; // main bg

// $ns-bar: #1c232bf9; // navbar, sidebar

// $over-bg: #3939390c;

// $borders: #2c313a; // borders,

// $text: #e8edf7; // text

// $hover-box: #21262e; // hover


$get: #24f274; // get
$post: #24a0f2; // post
$put: #f2b024; // put
$delete: #F43F5E; // delete


$main-bg: #1c232bf9;
$ns-bar: #131920;
$borders: #3a4049;
$text: #D1D7E0;
// $hover-box: