// #121417 // main bg

// #1e2227 // navbar, sidebar

// #2c313a // borders,

// #c1c9d7 // text

// #21262e // hover


// #24f274 // get
// #24a0f2 // post
// #f2b024 // put
// #F43F5E // delete

body {
  background-color: #121417;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home__text {
  background-color:#f2b024;
}

.boxes {
  padding: 10px;
  width: 100%;
}

.box {
  background-color: #1e2227;
}
.box-1 {
  background-color: #2c313a;
}
.box-2 {
  background-color: #c1c9d7;
}
.box-3 {
  background-color: #21262e;
}
