:root {
  --color-coal-100: #E0E0DF;
  --color-coal-200: #A7A7A6;
  --color-coal-300: #7B7B7A;
  --color-coal-400: #4F4F4E;
  --color-coal-450: #303030;
  --color-coal-500: #242422;
  --color-coal-700: #1C1C1A;
  --color-coal-600: #20201e;
  --color-coal-650: #181818;
  --color-coal-800: #0E100F;
  --color-coal-hover: #2D2D2A;
  --color-coal-border: #2b2b28;
  --color-gray-warm: #a5a5a0;
  --color-pure-white: #ffffff;
  --color-green-base: 135, 195, 143;
  --color-blue-base: 78, 205, 196;
  --color-yellow-base: 244, 162, 97;
  --color-red-base:	239,	62,	66;
  --color-pure-blue: 49, 130, 206;
  --color-green-solid: #68A670;
  --color-red-solid: #D15A42;
  --color-brand-accent-900: 255	,90	,54;
  --color-brand-accent-500: 255	,189	,174;
  --bg-app-main: var(--color-coal-600);
  --bg-app-sidebar: var(--color-coal-500);
  --bg-app-hover: var(--color-coal-hover);
  --bg-app-dark: var(--color-coal-800);
  --bg-app-active: var(--color-coal-400);
  --border-app-default: var(--color-coal-border);
  --text-app-main: var(--color-coal-100);
  --text-app-muted: var(--color-coal-300);
  --btn-green-bg: rgba(var(--color-green-base), 0.12);
  --btn-green-txt: rgb(var(--color-green-base));
  --btn-green-brd: rgba(var(--color-green-base), 0.35);
  --btn-blue-bg: rgba(var(--color-blue-base), 0.12);
  --btn-blue-txt: rgb(var(--color-blue-base));
  --btn-blue-brd: rgba(var(--color-blue-base), 0.35);
  --btn-yellow-bg: rgba(var(--color-yellow-base), 0.12);
  --btn-yellow-txt: rgb(var(--color-yellow-base));
  --btn-yellow-brd: rgba(var(--color-yellow-base), 0.35);
  --btn-red-bg: rgba(var(--color-red-base), 0.12);
  --btn-red-txt: rgb(var(--color-red-base));
  --btn-red-brd: rgba(var(--color-red-base), 0.35);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

button {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-app-main);
  align-items: start;
  justify-content: start;
  min-height: 100vh;
}

svg {
  width: 18px;
  height: 18px;
  stroke-width: 1.3px !important;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
  height: 100%;
  background-color: var(--bg-app-sidebar);
  max-width: 340px;
  border-right: 1px solid var(--border-app-default);
  min-width: 330px;
  grid-row: 1/2;
  grid-column: 1/2;
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow: auto;
}
.sidebar__main {
  padding: 10px;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
.sidebar__m-top-lh {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 4px 0px;
  width: 100%;
  border-bottom: 1px solid var(--border-app-default);
}
.sidebar__mtlh-conspan {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 5px;
  flex-grow: 1;
}
.sidebar__mtlhcsp-main-txt {
  font-family: "JetBrains Mono";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 13px;
  color: var(--color-coal-200);
  font-weight: 300;
  letter-spacing: 0.4px;
}
.sidebar__mtlhcsp-mi {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
@media (hover: hover) {
  .sidebar__mtlhcsp-mi:hover {
    background-color: var(--bg-app-hover) !important;
    color: var(--text-app-main) !important;
  }
}
.sidebar__mtlhcsp-mi:active {
  background-color: var(--bg-app-active) !important;
  color: var(--text-app-main) !important;
}
.sidebar__mtlhcsp-mi {
  padding: 5px;
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.sidebar__mtlhcsp-mi:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.sidebar__mtlhcsp-mi {
  background-color: transparent;
  color: var(--color-coal-400);
  border: none;
}
.sidebar__mtlh-right-i {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
@media (hover: hover) {
  .sidebar__mtlh-right-i:hover {
    background-color: var(--bg-app-hover) !important;
    color: var(--text-app-main) !important;
  }
}
.sidebar__mtlh-right-i:active {
  background-color: var(--bg-app-active) !important;
  color: var(--text-app-main) !important;
}
.sidebar__mtlh-right-i {
  padding: 5px;
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.sidebar__mtlh-right-i:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.sidebar__mtlh-right-i {
  background-color: transparent;
  color: var(--color-coal-400);
  border: none;
}
.sidebar__mtlhcsp-circle {
  border-radius: 6px !important;
  padding: 3px;
  background-color: var(--color-coal-300);
  opacity: 0.9;
}
.sidebar__mtlhcspcirc-full {
  background-color: rgb(var(--color-green-base));
}
.sidebar__mtlhcsp-port {
  padding: 5px;
  border-radius: 8px !important;
  padding: 3px;
  color: var(--color-coal-100);
}
.sidebar__mtlhcspcirc-reject {
  background-color: rgb(var(--color-red-base));
}
.sidebar__mtlhcspcirc-loading {
  background-color: rgb(var(--color-yellow-base));
}
.sidebar__m-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  justify-content: space-between;
  gap: 6px;
  position: relative;
}
.sidebar__mf-input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  padding: 5px;
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.sidebar__mf-input:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
@media (hover: hover) {
  .sidebar__mf-input:hover {
    background-color: var(--color-coal-650);
    border: 1px solid var(--text-app-muted);
  }
}
.sidebar__mf-input {
  font-size: 12px;
  padding: 5px 5px 5px 28px;
  background-color: transparent;
  color: var(--text-app-main);
  border: 1px solid var(--color-coal-400);
  box-shadow: 0px 0px 0px 2px transparent;
  transition: all 0.2s ease-in-out;
}
.sidebar__mf-input:focus {
  box-shadow: 0px 0px 0px 2px rgb(var(--color-pure-blue));
  border: 1px solid transparent;
}
.sidebar__mf-input {
  flex-grow: 1;
  height: 26px;
}
.sidebar__mf-sri {
  position: absolute;
  top: 15px;
  left: 8px;
  color: var(--color-coal-400);
  z-index: 3;
}
.sidebar__mf-sri svg {
  width: 16px !important;
  height: 16px !important;
}
.sidebar__mf-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.sidebar__mf-button:focus-visible {
  outline: 1px solid rgb(var(--color-brand-accent-900));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-brand-accent-900));
  z-index: 2;
}
.sidebar__mf-button {
  border-radius: 6px !important;
  padding: 4px 8px 4px 8px;
  font-size: 11.8px;
  background-color: rgb(var(--color-brand-accent-900), 0.1);
  border: 1px solid rgb(var(--color-brand-accent-900), 0.2);
  color: rgb(var(--color-brand-accent-500), 0.8);
  height: 26px;
  box-shadow: 0px 0px 4px 0px rgb(var(--color-brand-accent-900), 0.2);
  letter-spacing: 0.1px;
  transition: all 0s ease-in-out;
  cursor: pointer;
}
@media (hover: hover) {
  .sidebar__mf-button:hover {
    background-color: rgb(var(--color-brand-accent-900), 0.4);
    color: rgb(var(--color-brand-accent-500), 1);
  }
}
.sidebar__mf-button:active {
  background-color: rgb(var(--color-brand-accent-900), 0.7);
  color: rgb(var(--color-brand-accent-500), 200);
  color: var(--text-app-main);
}
.sidebar__mfb-svg {
  position: relative;
  top: 1px;
}
.sidebar__mfb-svg svg {
  width: 15px !important;
  height: 15px !important;
  stroke-width: 1px;
}
.sidebar__files {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0px 5px 0px 0px;
  gap: 4px;
  max-height: calc(100vh - 105px);
  overflow: auto;
}
.sidebar__files::-webkit-scrollbar {
  background: var(--border-app-default);
  width: 6px;
}
.sidebar__files {
  /* Track */
}
.sidebar__files::-webkit-scrollbar-track {
  border-radius: 10px;
}
.sidebar__files {
  /* Handle */
}
.sidebar__files::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px var(--text-app-muted);
  border-radius: 10px;
}
@media (hover: hover) {
  .sidebar__files::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px var(--text-app-main);
  }
}
.sidebar__f-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1px;
}
.sidebar__f-cards-child {
  margin-top: 15px !important;
  gap: 0px;
}
.sidebar__fc-topwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
@media (hover: hover) {
  .sidebar__fc-topwrap:hover {
    background-color: var(--color-coal-450) !important;
  }
}
.sidebar__fc-topwrap {
  border-radius: 6px !important;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.sidebar__fc-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: start;
  gap: 5px;
  padding: 1px 30px 1px 1px;
}
.sidebar__fc-top:hover + .sidebar__fct-spmore {
  visibility: visible;
}
.sidebar__fc-top-child {
  padding: 0px 30px 0px 0px !important;
}
.sidebar__fct-arrspn {
  color: var(--color-coal-400);
  position: relative;
  left: 2px;
}
@media (hover: hover) {
  .sidebar__fct-arrspn:hover {
    color: var(--color-coal-100);
  }
}
.sidebar__fct-arrspn:active {
  color: var(--color-coal-100);
}
.sidebar__fct-arrspn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sidebar__fct-mtxt {
  font-family: "Inter";
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  width: 20px;
  justify-content: start;
  text-overflow: ellipsis;
  font-size: 12.5px;
  color: var(--color-coal-100);
  flex-grow: 1;
  font-weight: 600;
}
.sidebar__fct-mtxt-child {
  font-weight: 400;
}
.sidebar__fc-txtcont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
}
.sidebar__fctx-spv {
  position: relative;
  top: 1px;
  color: var(--color-coal-300);
}
.sidebar__fctx-spv svg {
  width: 16px;
  height: 16px;
}
.sidebar__fc-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 3px 0px 3px;
  flex-direction: column;
  width: calc(100% - 22px);
  border-left: 1px solid var(--color-coal-400);
}
.sidebar__fc-main-child {
  padding: 2px;
}
.sidebar__fcm-endstatus {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
@media (hover: hover) {
  .sidebar__fcm-endstatus:hover {
    background-color: var(--color-coal-450) !important;
  }
}
.sidebar__fcm-endstatus {
  border-radius: 6px !important;
  justify-content: start;
  position: relative;
  gap: 5px;
  width: 100%;
  padding: 5px;
}
.sidebar__fcm-endstatus:hover .sidebar__fct-spmore {
  visibility: visible;
}
.sidebar__fcm-endstatus .sidebar__fct-spmore {
  top: 2.3px !important;
}
.sidebar__fcm-endstatus-child {
  gap: 4px;
  padding: 5px;
}
.sidebar__fcmeds-stxt {
  font-family: "JetBrains Mono";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8.5px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.sidebar__fcstxt-get {
  color: rgb(var(--color-green-base));
}
.sidebar__fcmens-stxt-pill-get, .sidebar__fcmens-stxt-pill-put, .sidebar__fcmens-stxt-pill-post, .sidebar__fcmens-stxt-pill-delete {
  padding: 1px 7px;
  border-radius: 50px;
}
.sidebar__fcmens-stxt-pill-get {
  background-color: var(--btn-green-brd);
}
.sidebar__fcmens-stxt-pill-put {
  background-color: var(--btn-blue-brd);
}
.sidebar__fcmens-stxt-pill-post {
  background-color: var(--btn-yellow-brd);
}
.sidebar__fcmens-stxt-pill-delete {
  background-color: var(--btn-red-brd);
}
.sidebar__fcstxt-put {
  color: rgb(var(--color-blue-base));
}
.sidebar__fcstxt-post {
  color: rgb(var(--color-yellow-base));
}
.sidebar__fcstxt-delete {
  color: rgb(var(--color-red-base));
}
.sidebar__fcmemds-mtxt {
  font-family: "Inter";
  font-size: 12px;
  color: var(--color-pure-white);
  font-weight: 300;
  letter-spacing: -0.4px;
}
.sidebar__fcmemds-mtxt-pill {
  color: var(--color-pure-white) !important;
}
.sidebar__fct-spmore {
  cursor: pointer !important;
}
@media (hover: hover) {
  .sidebar__fct-spmore:hover {
    background-color: var(--bg-app-hover) !important;
    color: var(--text-app-main) !important;
  }
}
.sidebar__fct-spmore:active {
  background-color: var(--bg-app-active) !important;
  color: var(--text-app-main) !important;
}
.sidebar__fct-spmore {
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.sidebar__fct-spmore:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.sidebar__fct-spmore {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-coal-100);
  position: absolute;
  top: 3px;
  right: 2px;
  visibility: hidden;
  background-color: transparent;
  border: none;
  border-radius: 3px;
}
.sidebar__fct-spmore svg {
  width: 20px;
  height: 20px;
}
.sidebar__fct-spmore:hover {
  visibility: visible;
}
.sidebar__fct-spmore-child {
  top: 1.4px;
}
.sidebar__fct-mtxt-var {
  color: rgb(var(--color-yellow-base));
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--bg-app-main);
  width: 100%;
  flex-grow: 1;
}

.main-section {
  height: 100%;
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
}

.header {
  width: 100%;
  background-color: var(--bg-app-sidebar);
  border-bottom: 1px solid var(--border-app-default);
}
.header__main {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.header__main-text {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 300;
  color: var(--color-pure-white);
}
.header__mrfd-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer !important;
}
@media (hover: hover) {
  .header__mrfd-button:hover {
    background-color: var(--bg-app-hover) !important;
    color: var(--text-app-main) !important;
  }
}
.header__mrfd-button:active {
  background-color: var(--bg-app-active) !important;
  color: var(--text-app-main) !important;
}
.header__mrfd-button {
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.header__mrfd-button:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.header__mrfd-button {
  justify-content: start;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1px;
  border: none;
  background-color: transparent;
  height: 28px;
  color: var(--text-app-main);
}
.header__m-fright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  flex-grow: 1;
  max-width: 620px;
  justify-content: start;
  flex-shrink: 1;
}
.header__mfr-repob {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px !important;
  gap: 1px;
  flex-grow: 1;
  height: 28px;
  justify-content: start;
  max-width: 400px;
}
.header__mfrr-name {
  position: relative;
  left: 4px;
  cursor: pointer !important;
}
@media (hover: hover) {
  .header__mfrr-name:hover {
    background-color: var(--bg-app-hover) !important;
  }
}
.header__mfrr-name:active {
  background-color: var(--bg-app-active) !important;
}
.header__mfrr-name {
  font-family: "Inter";
  padding: 5px;
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.header__mfrr-name:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.header__mfrr-name {
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  width: 20px;
  justify-content: start;
  text-overflow: ellipsis;
  background-color: transparent;
  border: none;
  font-size: 14px;
  height: 100%;
  color: var(--text-app-main);
  letter-spacing: -0.5px;
  height: 100%;
  font-weight: 300;
}
.header__mfrr-slv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
}
.header__mfrr-rightb {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px !important;
  position: relative;
  left: -4px;
  height: 100%;
  flex-grow: 1;
  justify-content: start;
}
.header__mfrrr-repoself {
  cursor: pointer !important;
}
@media (hover: hover) {
  .header__mfrrr-repoself:hover {
    background-color: var(--bg-app-hover) !important;
  }
}
.header__mfrrr-repoself:active {
  background-color: var(--bg-app-active) !important;
}
.header__mfrrr-repoself {
  font-family: "Inter";
  padding: 5px;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.header__mfrrr-repoself:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.header__mfrrr-repoself {
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  width: 20px;
  justify-content: start;
  text-overflow: ellipsis;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: var(--text-app-main);
  font-weight: 500;
  border-radius: 4px 0px 0px 4px;
  flex-grow: 1;
  letter-spacing: -0.2px;
}
@media (hover: hover) {
  .header__mfrrr-repoself:hover + .header__mfrrr-repos-sl {
    background-color: var(--color-coal-500) !important;
  }
}
.header__mfrrr-repos-sl {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
@media (hover: hover) {
  .header__mfrrr-repos-sl:hover {
    background-color: var(--bg-app-hover) !important;
  }
}
.header__mfrrr-repos-sl:active {
  background-color: var(--bg-app-active) !important;
}
.header__mfrrr-repos-sl {
  font-family: "Inter";
  padding: 5px;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.header__mfrrr-repos-sl:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.header__mfrrr-repos-sl {
  background-color: transparent;
  border: none;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  padding: 4px 1px;
}
@media (hover: hover) {
  .header .header__mfrrr-repoself:has(~ .header__mfrrr-repos-sl:hover) {
    background-color: var(--color-coal-500) !important;
  }
}
.header__mfr-agent {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13.5px;
  font-weight: 300;
  color: var(--text-app-main);
  gap: 4px;
  letter-spacing: -0.5px;
}
.header__mfr-agent-info {
  font-weight: 500;
}
.header__mfr-agent-info-connected {
  color: rgb(var(--color-green-base));
}
.header__mfr-agent-info-loading {
  color: rgb(var(--color-yellow-base));
}
.header__mfr-agent-info-reject {
  color: rgb(var(--color-red-base));
}
.header__m-fcent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 28px;
}
.header__mfc-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.header__mfc-input:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.header__mfc-input {
  border: 1px solid transparent;
  border-top: 1px solid var(--color-coal-700);
  box-shadow: 0px 0px 0px 1px var(--color-coal-400);
  margin: auto;
  margin-left: calc(0 - ((100vw - 300px) / 2 - 620px));
  margin-right: calc((100vw - 300px) / 2 - 116px);
  flex-grow: 1;
  flex-shrink: -1;
  max-width: 300px;
  font-size: 13px;
  height: 100%;
  gap: 5px;
  background-color: transparent;
}
@media (hover: hover) {
  .header__mfc-input:hover {
    transition: all 0.2s ease-in-out;
    background-color: var(--color-coal-650);
    box-shadow: 0px 0px 0px 1px var(--color-coal-300);
    cursor: pointer;
  }
  .header__mfc-input:hover .header__mfcip-srtx-sf {
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}
.header__mfcip-srtx {
  font-family: "Inter";
  font-size: 13.5px;
  color: var(--color-coal-300);
}
.header__mfcip-sri {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-coal-200);
  align-items: start;
}
.header__m-fend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-grow: 1;
  max-width: 100px;
}
.header__mfcip-srtx-sf {
  opacity: 0;
  font-size: 13.5px;
}
.header__mfend-bvg {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
@media (hover: hover) {
  .header__mfend-bvg:hover {
    background-color: var(--bg-app-hover) !important;
    color: var(--text-app-main) !important;
  }
}
.header__mfend-bvg:active {
  background-color: var(--bg-app-active) !important;
  color: var(--text-app-main) !important;
}
.header__mfend-bvg {
  padding: 5px;
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.header__mfend-bvg:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.header__mfend-bvg {
  background-color: transparent;
  color: var(--text-app-muted);
  border: none;
}
.header__mfend-prfb {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
@media (hover: hover) {
  .header__mfend-prfb:hover {
    background-color: var(--bg-app-hover) !important;
    color: var(--text-app-main) !important;
  }
}
.header__mfend-prfb:active {
  background-color: var(--bg-app-active) !important;
  color: var(--text-app-main) !important;
}
.header__mfend-prfb {
  padding: 5px;
  border-radius: 6px !important;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
.header__mfend-prfb:focus-visible {
  outline: 1px solid rgb(var(--color-pure-blue));
  box-shadow: 0px 0px 6px -2px rgb(var(--color-pure-blue));
  z-index: 2;
}
.header__mfend-prfb {
  background-color: transparent;
  color: var(--text-app-muted);
  border: none;
}
.header__mfend-prfsp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__mfend-prfimg {
  border-radius: 6px !important;
}/*# sourceMappingURL=style.css.map */